aiogram
aiohttp
aiosignal
aiofiles
async-timeout
attrs
Babel
Brotli
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
mutagen
pycryptodomex
pytz
websockets
yarl
yt-dlp
SpeechRecognition
tinytag
tqdm
bs4
